@import './Navigation';
@import './Footer';

.sec-1-Pt2{
    text-align: center;
    margin-top: 17%;
    h1{
        font-size: 7em;
        color:$PrimaryColor;
    }
    .body-contant{
        font-size: 2em;
        color: $secondaryColor;
    }
    .hireMe{
        font-size: 0.9em;
        color: $PrimaryColor;
        margin-top: 10%;
    }
}




